Repository TaskSprint/task-sprint, pull requests merged in 2025-04, with the labels that each got.

#29 Created model services
  app/Facades/FileService.php
  app/Facades/Models/CategoryService.php
  app/Facades/Models/CurrencyService.php
  app/Facades/Models/SubCategoryService.php
  app/Facades/Models/TaskOrderService.php
  app/Facades/Models/TaskService.php
  app/Facades/Models/UserService.php
  app/Http/Controllers/CategoryTestController.php
  app/Http/Controllers/FileTestController.php
  app/Http/Resources/CategoryResource.php
  app/Models/Category.php
  app/Models/Currency.php
  app/Models/File.php
  app/Models/SubCategory.php
  app/Models/Task.php
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  app/Services/FileService.php
  app/Services/Models/BaseModelService.php
  app/Services/Models/CategoryService.php
  app/Services/Models/CurrencyService.php
  app/Services/Models/SubCategoryService.php
  app/Services/Models/TaskOrderService.php
  app/Services/Models/TaskService.php
  app/Services/Models/UserService.php
  app/ValueObjects/LocaleString.php
  composer.json
  composer.lock
  database/migrations/2025_04_02_211618_add_task_order_relation.php
  package-lock.json
  package.json
  resources/js/Components/CategoryTestCard.tsx
  resources/js/Components/Main/LastTasks/LastTaskCard.tsx
  resources/js/Pages/CategoryTest.tsx
  resources/js/Pages/FileTest.tsx
  resources/js/types/locale-string.d.ts
  resources/js/types/models/category.d.ts
  resources/js/types/models/sub-category.d.ts
  routes/web.php
  storage/debugbar/.gitignore
Labels: backend

#46 Added login page and categories component
  app/Http/Controllers/Auth/ConfirmablePasswordController.php
  app/Http/Requests/Auth/LoginRequest.php
  composer.lock
  lang/en/auth/login.php
  lang/en/categories.php
  lang/ru/auth/login.php
  lang/ru/categories.php
  lang/ru/last-tasks.php
  lang/uk/auth/login.php
  lang/uk/categories.php
  package-lock.json
  public/.idea/.gitignore
  public/.idea/modules.xml
  public/.idea/php.xml
  public/.idea/public.iml
  public/.idea/vcs.xml
  resources/js/Components/Main/CategoriesComponent.tsx
  resources/js/Pages/Auth/Login.tsx
  resources/views/app.blade.php
  routes/web.php
Labels: 🖌️ auto prettify, component, page, frontend

#47 Created app layout
  package-lock.json
  package.json
  postcss.config.js
  resources/css/app.css
  resources/js/Components/Checkbox.tsx
  resources/js/Components/DangerButton.tsx
  resources/js/Components/Dropdown.tsx
  resources/js/Components/Layout/Footer.tsx
  resources/js/Components/Layout/LanguageSwitcher.tsx
  resources/js/Components/Layout/Navigation.tsx
  resources/js/Components/Layout/ThemeSwitcher.tsx
  resources/js/Components/Main/CategoriesComponent.tsx
  resources/js/Components/Main/Info.tsx
  resources/js/Components/Main/LastTasks/LastTaskCard.tsx
  resources/js/Components/Main/LastTasks/LastTasks.tsx
  resources/js/Components/Modal.tsx
  resources/js/Components/NavLink.tsx
  resources/js/Components/PrimaryButton.tsx
  resources/js/Components/ResponsiveNavLink.tsx
  resources/js/Components/SecondaryButton.tsx
  resources/js/Components/Shared/Button.tsx
  resources/js/Components/TextInput.tsx
  resources/js/Layouts/AppLayout.tsx
  resources/js/Layouts/AuthenticatedLayout.tsx
  resources/js/Layouts/GuestLayout.tsx
  resources/js/Pages/Auth/Login.tsx
  resources/js/Pages/Auth/Register.tsx
  resources/js/Pages/Auth/VerifyEmail.tsx
  resources/js/Pages/Dashboard.tsx
  resources/js/Pages/Profile/Edit.tsx
  resources/js/Pages/Profile/Partials/UpdateProfileInformationForm.tsx
  resources/js/Pages/Welcome.tsx
  resources/js/providers.tsx
  resources/views/app.blade.php
  tailwind.config.js
  vite.config.js
Labels: 🖌️ auto prettify, frontend

#59 Roles section
  composer.lock
  lang/en/welcome.php
  lang/ru/welcome.php
  lang/uk/welcome.php
  resources/js/Components/RolesButton.tsx
Labels: component, frontend

#60 title-component
  composer.lock
  lang/en/welcome.php
  lang/ru/welcome.php
  lang/uk/welcome.php
  resources/js/Components/Main/Roles.tsx
  resources/js/Components/Main/Support.tsx
  resources/js/Components/Main/Title.tsx
  resources/js/Components/RolesButton.tsx
Labels: component, frontend

#64 Merge main page
  lang/en/main.php
  lang/en/welcome.php
  lang/ru/main.php
  lang/ru/welcome.php
  lang/uk/main.php
  lang/uk/welcome.php
  package-lock.json
  package.json
  public/favicon.ico
  public/favicon.svg
  resources/css/app.css
  resources/js/Components/Layout/Footer.tsx
  resources/js/Components/Layout/Navigation.tsx
  resources/js/Components/Layout/SearchBar.tsx
  resources/js/Components/Main/Categories.tsx
  resources/js/Components/Main/Info.tsx
  resources/js/Components/Main/LastTasks/LastTaskCard.tsx
  resources/js/Components/Main/LastTasks/LastTasks.tsx
  resources/js/Components/Main/Roles.tsx
  resources/js/Components/Main/Support.tsx
  resources/js/Components/Main/Title.tsx
  resources/js/Components/SafeHtml.tsx
  resources/js/Components/Shared/Button.tsx
  resources/js/Layouts/AppLayout.tsx
  resources/js/Pages/Auth/Login.tsx
  resources/js/Pages/Main.tsx
  resources/js/Pages/Welcome.tsx
  resources/js/app.tsx
  resources/js/ssr.tsx
  resources/views/app.blade.php
  routes/web.php
Labels: page, frontend

#61 Added register page + user layout + Task in Progress page
  app/Filament/Resources/UserResource.php
  app/Filament/Resources/UserResource/Pages/CreateUser.php
  app/Providers/Filament/AdminPanelProvider.php
  app/Services/Models/BaseModelService.php
  app/Services/Models/UserService.php
  bootstrap/cache/.gitignore
  composer.lock
  lang/en/auth/register.php
  lang/en/new-task.php
  lang/en/tasks-in-progress.php
  lang/en/user-layout.php
  lang/ru/auth/register.php
  lang/ru/new-task.php
  lang/ru/tasks-in-progress.php
  lang/ru/user-layout.php
  lang/uk/auth/register.php
  lang/uk/new-task.php
  lang/uk/tasks-in-progress.php
  lang/uk/user-layout.php
  package-lock.json
  package.json
  resources/js/Components/Main/LastTasks/LastTasks.tsx
  resources/js/Layouts/UserLayout.tsx
  resources/js/Pages/Auth/Login.tsx
  resources/js/Pages/Auth/Register.tsx
  resources/js/Pages/NewTask.tsx
  resources/js/Pages/Support.tsx
  resources/js/Pages/TasksInProgress.tsx
  routes/web.php
  storage/app/.gitignore
  storage/app/private/.gitignore
  storage/app/public/.gitignore
  storage/debugbar/.gitignore
  storage/framework/.gitignore
  storage/framework/cache/.gitignore
  storage/framework/cache/data/.gitignore
  storage/framework/sessions/.gitignore
  storage/framework/testing/.gitignore
  storage/framework/views/.gitignore
  storage/logs/.gitignore
Labels: 🖌️ auto prettify, page, frontend

#65 Favorite-employees-page is Done! Stylized Checkbox added. Needs to be…
  composer.lock
  lang/en/fav-employees.php
  lang/ru/fav-employees.php
  lang/uk/fav-employees.php
  package-lock.json
  package.json
  resources/js/Components/HeartCheckbox.tsx
  resources/js/Layouts/UserLayout.tsx
  resources/js/Pages/Profile/Favorite.tsx
  resources/js/Pages/Profile/InProgress.tsx
  resources/js/Pages/Profile/NewTask.tsx
  routes/web.php
Labels: page, frontend
